%table.table.table-bordered.table-hover
  %thead
    %tr
      %th idm
      %th raw_data
      %th date
      %th from
      %th to
      %th created_at
  %tbody
    - @histories.each do |h|
      %tr
        %td= h.idm
        %td= h.raw_data
        %td= h.date
        %td= h.from
        %td= h.to
        %td=l h.created_at, format: '%Y-%m-%d %H:%M:%S'
