- if user_signed_in?
  .profile
    .twitter-icon
      = image_tag session["twitter.info"]["image"]
    .twitter-name
      %b= current_user.name
    .logout
      = button_to 'ログアウト', :logout, method: :delete, class: 'btn-primary'
    .api-url
      %b API URL
      %br
      = link_to api_user_histories_url(current_user), api_user_histories_url(current_user)
    .api-key
      %b API Key
      %br
      = current_user.key
- else
  = link_to image_tag("sign-in-with-twitter-gray.png"), user_omniauth_authorize_path(:twitter)
