- if user_signed_in?
  .twitter-icon
  .twitter-name
    = current_user.name
  .logout
    = link_to 'ログアウト', :logout, method: :delete
  .api-url
    %b API URL
    = api_user_histories_url(current_user, format: :json)
  .api-key
    %b API Key
    = current_user.key
- else
  = link_to image_tag("sign-in-with-twitter-gray.png"), user_omniauth_authorize_path(:twitter)
